/* 
    Created on : Jul 22, 2016, 6:13:21 AM
    Author     : Nigel Carty
*/

#header{
    color:white;
    background-color: black;
    margin: 0 auto;
     padding: 5px;    
     text-align:center;
}
#headline{
    font-size: 60px;
    margin:0px 5% 0;
    background-image:url('Twitchsvg_logo.png');
    height:220px;
    background-repeat: no-repeat;
    background-position-x: center;
   }
#btnRow{
    font-size:13px;
    color:white;
    background-color: rgba(200,200,200, 0.5);    
    margin:0 0 5px 0;  
    text-align: center;
    }

button{
     color:white;
    border-radius: 6px;
    margin: 6px 10px;
}
#btn0{
    background-color: black;
}

#btn1{
    background-color: #00cc99;
}
#btn2{
    background-color: cornflowerblue;
}
#btn3{
    background-color: #ff9999;
}

.myContainer{
    margin:0 5%;
}

.tableHead{
    background-color: black;
    vertical-align: middle;
}

#theStreams{
    color:white;
    margin:0 5%;
}

.w3-row{
    border-color: black;
    border-width: 2px;
    padding:5px;
    margin:0 5% 4px;
   border-radius: 4px;
 }
 .w3-col{
    padding: 3px; 
 }
 
img{
    height:90px;
    width:90px;
    border-radius: 10px;
}
.offline{
    background-color: cornflowerblue;
}
.nonExistent{
    background-color: #ff9999;
}
.online{
    background-color: #00cc99;
}
